
:root {
    --recipe-book-scale: 1.65;
}

/* Triangle */
.triangle {
    width: 100%;

    display: flex;
    justify-content: center;

    z-index: -3;
    position: relative;
}

.triangle > img {
    position: absolute;
    bottom: -60px;
}

/* Recipe container */
#recipe-container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(221, 245, 237);
    z-index: -4;
}

/* Recipe book */
.recipe-book {
    /* background-image: url('./images/recipe_bookv2.PNG'); */
    background-image: url('./recipeBookAnimation/cookbook\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: calc(600px * var(--recipe-book-scale));
    height: calc(336px * var(--recipe-book-scale));

    margin-top: 100px;

    display: flex;
    justify-content: space-between;

}

.recipe-title {
    margin-top: 50px;
}

.left-page {
    padding-left: 200px;
}

.right-page {
    padding-right: 200px;
}

.recipe-top {
    display: flex;
}

.recipe-title {
    font-size: 20px;
    max-width: 200px;
}

/* Recipe image */
.recipe-image {
    background-color: transparent;
	width: 250px;
	border: 1px ;
	perspective: 1000px;
	position: absolute;
    margin-top: 12px;
}

.recipe-image > div {
    width: 230px;
    height: 175px;
}

.front > img {
    width: 100%;
    height: 100%;
}

.flipin {
    position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.recipe-image:hover .flipin {
	transform: rotateY(180deg);
}

.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.front{
	background-color: #bbb;
	color: black;
}

.back{
	/* background-color: dodgerblue; */
	color: black;
	transform: rotateY(180deg);
}

/* Steps */
.recipe-steps {
    margin-top: 192px;
}