        :root{

        }
        
        h1{
            text-align: center;
        }
          
        .center{
            margin:auto;
            width: 60%;

        }
        /* Styles for the puzzle container */
        #puzzle-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            width: 400px; /*puzzle size */
            height: 400px;
            gap: 2px; /* Gap between tiles */
        }

        /*for individual puzzle tiles */
        .puzzle-tile {
            box-sizing: border-box;
            border: 2px solid black;
            font-size: 32px;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /*for empty tile */
        .empty-tile {
            background-color: #ffffff;
            cursor: default;
            border: none;
        }

        /*Change shadow of tile when you are able to click on it*/
        .clickable-tile:hover {
            box-shadow: 0px 0px 2px 2px #111;
            cursor: pointer;
        }



        
        /*Css for the pop up boxes*/
        .modal{
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top:0;
            width:100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0,0.4); 
        }


        .modal-background{
            background-color: rgb(178, 167, 167);
            margin: auto;
            padding: 20px;
            border: 1px solid #2c2525;
            width: 80%;
        }

        /* The Close Button for popup box*/
        .close {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover, .close:focus {
            color: white;
            text-decoration:none;
            cursor:pointer;
        }

         /*Used for background image selection and size selection*/
        .flex-select{
            display:flex;
            flex-wrap: nowrap;
        }

        .flex-select > img{
            margin: 10px;
            height: 75px;
            width: 75px;
        }

        .flex-select > button{
            margin: 10px;
            height: 50px;
            width: 75px;
        }

        .background-option:hover{
            box-shadow: 0px 0px 2px 2px #111;
            cursor: pointer;
        }

         /*Design not functionality */
            /*Used for3 buttons at the top*/
        .flex-container{
            display:flex;
            flex-wrap: nowrap;
        }
        .flex-container > button{
            width: 100px;
            height: 50px;
            margin-right: 25px;
            margin-left: 25px;
        }
         #shuffle-btn{
            margin: 20px;
         }

         .hovered {
            transform: scaleX(1.1) scaleY(1.1);
            transition: .25s ease-out;
         }

         .hoveredAfter {
            transform: scaleX(1) scaleY(1);
            transition: .25s ease-out;
         }